{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["airbnb"],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "parser": "babel-eslint"
}